<div class="conteiner imagem"></div>

<div class="row">

  <button class="btn btn-outline-light text-center mb-3" type="button" routerLink='/home'>&nbsp;&nbsp;&nbsp;&nbsp;voltar&nbsp;&nbsp;&nbsp;&nbsp;</button>

  <input type="email" class="form-control mb-4" id="exampleFormControlInput1" placeholder="Digite aqui seu email:">
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escreva aqui sua mensagem:"></textarea>

  <button class="btn btn-outline-light text-center mt-3" type="button">&nbsp;&nbsp;&nbsp;&nbsp;enviar&nbsp;&nbsp;&nbsp;&nbsp;</button>

</div>